$base-f: "Montserrat Regular", "Arial", sans-serif;
$base-normal-f: "Montserrat Normal", "arial", sans-serif;
$base-bold-f: "Montserrat Bold", "Arial", sans-serif;

$base-black: #000000;
$base-white: #FFFFFF;
